.view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  border-radius: var(--radius-700);
  border: 1px solid var(--color-grey-100);
  background: var(--color-platform-background);
  overflow: hidden;
}

.scrollArea {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
